# Banco de Dados PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Banco de Dados MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB_NAME=zeus

# Configurações Gerais
FRONTEND_URL=
BACKEND_URL=

# Configração do Flyway
FLYWAY_URL=
FLYWAY_USER=${POSTGRES_USER}
FLYWAY_PASSWORD=${POSTGRES_PASSWORD}