# Banco de Dados PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=zeus
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Banco de Dados MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
mongoDBConnection="mongodb://localhost"

# Configurações Gerais
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# Configração do Flyway
FLYWAY_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
FLYWAY_USER=${POSTGRES_USER}
FLYWAY_PASSWORD=${POSTGRES_PASSWORD}
