POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tecsys
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
BLACKLIST_POSTGRES_DB=
BLACKLIST_POSTGRES_HOST=
BLACKLIST_POSTGRES_PORT=
BLACKLIST_POSTGRES_USER=
BLACKLIST_POSTGRES_PASSWORD=
